  <!-- NAVBAR -->
  <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Agit Sahin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto ">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Main Page</a>
          <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="/about">About Us</a>
          <a class="nav-link {% if request.path == '/products/' %}active{% endif %}" href="/products">Products</a>
          <a class="nav-link {% if request.path == '/contact/' %}active{% endif %}" href="/contact">Contact</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- NAVBAR END -->